@media screen and (min-width: 920px) {
  .App {
    width: 880px;
  }
}

@media screen and (min-height: 550px) {
  .App {
    min-height: 550px;
  }
}

.roomchoice button, button {
  font-size: x-large;
}




.roomchoice {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


@media screen and (min-width: 650px) {
  .roomchoice {
    flex-flow: row nowrap;
  }
}
.roomchoice > fieldset {
  margin: 15px;
}


button, input[type='texxt'], input[type='numbxer'] {
  background-color: var(--light-blue);
  padding: 13px;
}

button {
  border: solid 4px var(--medium-purple);
}

button:hover {
  position: relative;
  top: -2px;
  left: -2px;
}

.weightconversion {
  display: flex;
  flex-flow: row wrap;
}

.App {
  border: solid 4px var(--medium-purple);
  outline: 4px solid var(--dark-purple);
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-transparent-background);
}

.App footer {
margin-top: auto;

display: flex;
flex-flow: row wrap;
justify-content: space-around;
}


$heart:  (
  (0,1,1,0,1,1,0),
  (1,1,1,1,1,1,1),
  (1,1,1,1,1,1,1),
  (0,1,1,1,1,1,0),
  (0,0,1,1,1,0,0),
  (0,0,0,1,0,0,0),
  );

  $power:  (
  (0,0,0,1,1,1,1),
  (0,0,1,1,1,1,0),
  (0,0,0,1,1,1,1),
  (0,0,1,1,1,1,0),
  (0,1,1,1,0,0,0),
  (0,0,1,0,0,0,0),
  );

  $cadence:  (
    (1,1,1,1,0,0,0),
    (0,0,1,0,0,0,0),
    (0,0,1,0,0,0,0),
    (0,0,1,1,1,0,0),
    (0,0,0,0,1,0,0),
    (0,0,0,1,1,1,1),
    );

.power-icon {
  @include show-icon($power, (rgb(238, 255, 5)));
}
.heart-icon {
  @include show-icon($heart, (#f00));
}
.cadence-icon {
  @include show-icon($cadence, (#aaa));
}
input[type="radio"] {
  @include nes-radio;
}