$base-color: #c6538c;
$default-colors: ("shadow": #333);
$color-white: white;
$border-size: 2px;
$cursor-click-url: "";
@import "node_modules/nes.css/scss/utilities/icon-mixin.scss";
@import "node_modules/nes.css/scss/utilities/visually-hidden.scss";
@import "node_modules/nes.css/scss/utilities/fill-gaps.scss";


/* @import "node_modules/nes.css/scss/form/radios.scss"; */

button, input[type='text'], input[type='number'] {
  background-color: #1296be;
  padding: 13px;
}

fieldset {

}

button {
  border: solid 4px rgb(46, 9, 116);

}

.App > div { margin: auto; }
.App {
  min-height: 550px;
  border: solid 4px rgb(46, 9, 116);
  padding: 15px;
  display: flex;
  background-color: rgba(10, 10, 10, 0.932);
  width: 50%;
position: absolute;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.658);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



$heart:  (
  (0,1,1,0,1,1,0),
  (1,1,1,1,1,1,1),
  (1,1,1,1,1,1,1),
  (0,1,1,1,1,1,0),
  (0,0,1,1,1,0,0),
  (0,0,0,1,0,0,0),
  );

@mixin show-icon($logo, $logo-colors) {
    $px: 2px;
    
    // prettier-ignore
    /*
    $logo: (
      (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
      (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
      (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
      (0,0,1,1,1,1,1,1,1,1,1,1,1,0,0),
      (0,1,2,2,2,2,2,2,2,2,2,2,2,1,0),
      (1,2,2,1,2,2,2,2,2,2,2,4,2,2,1),
      (1,2,1,1,1,2,2,2,2,2,3,2,5,2,1),
      (1,2,2,1,2,2,1,2,1,2,2,6,2,2,1),
      (0,1,2,2,2,2,2,2,2,2,2,2,2,1,0),
      (0,0,1,1,1,1,1,1,1,1,1,1,1,0,0)
    );
    */
    $size: 3px;
  
    position: relative;
    display: inline-block;
    width: $size * length(nth($logo, 1));
    height: $size * length($logo);
  
    &::before {
      position: absolute;
      top: -$size;
      left: -$size;
      content: "";
      background: transparent;
  
      @include pixelize($size, $logo, $logo-colors);
      @include fill-gaps();
    }
  }

@mixin nes-radio {
  // prettier-ignore
  $radio: (
    (1,1,0,0,0,0),
    (1,1,1,1,0,0),
    (1,1,1,1,1,0),
    (1,1,1,1,1,1),
    (1,1,1,1,1,0),
    (1,1,1,1,0,0),
    (1,1,0,0,0,0),
  );
  // prettier-ignore
  $radio-checked-focus: (
    (2,2,0,0,0,0),
    (2,2,2,2,0,0),
    (2,2,2,2,2,0),
    (2,2,2,2,2,2),
    (2,2,2,2,2,0),
    (2,2,2,2,0,0),
    (2,2,0,0,0,0),
  );
  $colors: ($base-color, map-get($default-colors, "shadow"));
  $colors-radio-dark: ($color-white, map-get($default-colors, "shadow"));

  margin-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include visually-hidden();

  & + span {
    position: relative;
    cursor: $cursor-click-url, pointer;
  }

  &:checked + span::before {
    position: absolute;
    top: -2px;
    left: -20px;
    content: "";

    @include pixelize(2px, $radio, $colors);
  }

  &:checked:hover,
  &:checked:focus {
    & + span::before {
      animation: blink 1s infinite steps(1);
    }
  }

  &:checked:focus + span::before {
    @include pixelize(2px, $radio-checked-focus, $colors);
  }
  &.is-dark {
    + span {
      color: $color-white;
    }
    // prettier-ignore
    + span::before { /* stylelint-disable-line no-descending-specificity */
      color: $color-white;
    }

    &:checked + span::before {
      @include pixelize(2px, $radio-checked-focus, $colors-radio-dark);

      color: $color-white;
    }
    &:checked:focus + span::before {
      @include pixelize(2px, $radio-checked-focus, $colors-radio-dark);

      color: $color-white;
    }
  }
}
.heart {
  @include show-icon($heart, (#f00));
}

input[type="radio"] {
  @include nes-radio;
}