.details {
  display: flex;
  flex-flow: row wrap;
justify-content: center;
}

fieldset {
  border: solid 4px rgb(46, 9, 116);
  margin: 10px;
  padding: 15px;
}
fieldset.player {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}

input[type='number'] {
  width: 50%;
}

.powerSelect button {
animation: blinkborder 1s linear 0s infinite alternate;
}

.readyBtn.enabled {
  animation: blinkborder 1s linear 0s infinite alternate;
}

@keyframes blinkborder {
  50% {border-color:rgb(155,12,142);color:rgb(155,12,142);}
}

.playerInput {
  margin-top: 5px;
  margin-bottom: 15px;
}
.playerInput .title {
  margin-bottom: 5px;
}