:root {
  --xdisabled: #012c03;
  --disabled: rgb(25, 5, 61);
  --error: #940000;
  --purple: rgb(155,12,142);
  --dark-purple: rgb(25, 5, 61);
  --medium-purple: rgb(46, 9, 116);
  --light-blue: #1296be;
  --dark-blue: rgb(11,52,127);
  --dark-transparent-background: rgba(10, 10, 10, 0.932)
}
@media screen and (min-height: 550px) {
  #root{ 
    height: 100%;
    align-items: center;
  }
}
#root {
  display: flex;
  width: 100%;
  justify-content: center;

}
html, body { width: 100%; height: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color:#000;
  color: var(--purple);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button, h1, input, select, div {
  font-family: 'Press Start 2P', cursive;
}

ul { list-style: none; padding: 0; margin: 0;}
li { margin: 0; padding: 0; }

button {
  margin: 5px;
  padding: 10px;
  color: rgb(41, 41, 41);
}
input {
  padding: 5px;
  margin: 5px;
 
}
input[type='text'],input[type='number'] {
  background-color: inherit;
  color: var(--light-blue);
  /* color: rgb(41, 41, 41); */
  border: 0;

  border-bottom: solid 4px var(--dark-blue);
}

.device-unconnected {
  color: var(--disabled);
}

.disabled {
  color: var(--disabled);
}

.large-input {
  font-size: xxx-large;
}

.error {
  color: var(--error);
}

canvas {
  /* x-width: 100%; */
  height: 100%;
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
}